<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Destiny</title>
    <link href="../views/css/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="views/css/sweet-alert.css"/>
    <script src="views/js/jquery.min.js"></script>
    <script src="views/js/tether.js"></script>
    <script src="views/js/bootstrap.js"></script>
    <script src="views/js/common.js"></script>
    <script src="views/js/sweet-alert.js"></script>
    <script src="views/js/documentInfoView.js"></script>
    <style>

    </style>
</head>
<body>
<div class="container">
    <div class="row " style="padding: 10px;margin-top: 30px;">
        <h4 id="DocumentTitle"></h4>
        <hr>
        <div id="DocumentContent" style="margin-top: 20px;"></div>
    </div>
</div>
</body>
</html>