<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>彩云天气</title>
    <link href="../views/css/bootstrap.css" rel="stylesheet"/>
    <script src="../views/js/jquery.min.js"></script>
    <script src="../views/js/tether.js"></script>
    <script src="../views/js/bootstrap.js"></script>
    <link href="../views/css/weatherCss.css" rel="stylesheet">
    <script src="../views/js/weatherView.js"></script>
    <style>
        ul {
            list-style: none;
            margin: 0px;
            padding: 0px;
        }

        .weather_bg {

            background: url("../views/images/weather/light.png") repeat-y left;
            width: 100%;
            height: 180px;
            z-index: 100;
        }    </style>
</head>
<body>

<div class="Weather" style="background-image: -webkit-linear-gradient(top, rgb(13, 104, 188), rgb(114, 173, 224));">
    <div class="weather_bg">
        <div style="padding: 5px 10px;"><p>昆明天气</p></div>
        <div class="WeatherContentMain">
            <div style="">
                <ul id="weatherInfoDiv">
                    <li>
                        <div class="WeatherItem" style="padding-top:0px">
                            <div><img src="../views/images/weather/303.png " width="80"></div>
                            <div class="weatherItemDiv"> 小到中雨</div>
                            <div class="weatherItemDiv "> 2017-3-8</div>
                            <div class="weatherItemDiv"> 星期二</div>
                        </div>
                    </li>
                    <li>
                        <div class="WeatherItem" style="padding-top:0px;">
                            <div><img src="../views/images/weather/305.png " width="60"></div>
                            <div class="weatherItemDiv"> 小到中雨</div>
                            <div class="weatherItemDiv "> 2017-3-9</div>
                            <div class="weatherItemDiv"> 星期三</div>


                        </div>
                    </li>
                    <li>
                        <div class="WeatherItem" style="padding-top:0px">
                            <div><img src="../views/images/weather/305.png " width="60"></div>
                            <div class="weatherItemDiv"> 小到中雨</div>
                            <div class="weatherItemDiv "> 2017-3-10</div>
                            <div class="weatherItemDiv"> 星期四</div>
                        </div>
                    </li>
                    <li>
                        <div class="WeatherItem" style="padding-top:0px">
                            <div><img src="../views/images/weather/305.png " width="60"></div>
                            <div class="weatherItemDiv"> 小到中雨</div>
                            <div class="weatherItemDiv "> 2017-3-11</div>
                            <div class="weatherItemDiv"> 星期五</div>
                        </div>
                    </li>
                    <li>
                        <div class="WeatherItem" style="padding-top:0px">
                            <div><img src="../views/images/weather/300.png " width="60"></div>
                            <div class="weatherItemDiv"> 阵雨或雷阵雨</div>
                            <div class="weatherItemDiv "> 2017-3-12</div>
                            <div class="weatherItemDiv"> 星期六</div>
                        </div>
                    </li>
                    <li>
                        <div class="WeatherItem" style="padding-top:0px">
                            <div><img src="../views/images/weather/305.png " width="60"></div>
                            <div class="weatherItemDiv"> 小到中雨</div>
                            <div class="weatherItemDiv "> 2017-3-13</div>
                            <div class="weatherItemDiv"> 星期天</div>
                        </div>
                    </li>
                    <li>
                        <div class="WeatherItem" style="padding-top:0px">
                            <div><img src="../views/images/weather/305.png " width="60"></div>
                            <div class="weatherItemDiv"> 小到中雨</div>
                            <div class="weatherItemDiv "> 2017-3-14</div>
                            <div class="weatherItemDiv"> 星期一</div>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


</body>


</html>